<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to FlaskTaskr!!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    </head>
    <body>
        <div class="page">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            <br>

            {% block content %}
            {% endblock %}
            
        </div>
    </body>
</html>